body {
    background-color: #EB6B56;
}
      
      
h1 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin: 0;
}

p {
    font-size:  1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

.wrapper {
   width:600px;
   margin:20px auto;
   
}
.hero {
   float:left;
   width:35%;
}

.about {
   float:right;
   width:60%;
}

.hero img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.social-icons {
    width: 600px;
    margin: 0 auto;
    clear: both;
    text-align: center;

}

.social-icons img {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.social-icons img:hover {
    opacity: 0.5;
}

.button {
    border: none;
    font-family: 'Open Sans';
    font-size: 1em;
    font-weight: 300;
    color: #FFFFFF;
    background: #54acd2;
    cursor: pointer;
    padding: 15px;
    display: inline-block;
    margin: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    border-radius: 5px;
}

.button:hover {
    border: none;
    font-family: 'Open Sans';
    font-size: 1em;
    font-weight: 300;
    color: #FFFFFF;
    background: #3d8eb9;
    cursor: pointer;
    padding: 15px;
    display: inline-block;
    margin: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    border-radius: 5px;
}

.button link {
    text-decoration: none;
}
