.h1 {
    font-size: 2em;
    font-family: cursive;
}

.wrapper {
   width:600px;
   margin:0 auto;
   position: absolute;
}
.hero {
   float:left;
   width:35%;
}

.about {
   float:right;
   width:60%;
}

.hero img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
